<%inherit file="site-template.html" />
<%block name="site_css">
</%block>

<%block name="site_content">
<div class="content-preview">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="preview">
                        <div class="img">
                        </div>
                        <div class="dec">
                            <h3>Angular Demo</h3>
                            <p>the note of angular</p>
                            <div class="col-lg-4"></div>
                            <div class="col-lg-4">
                                <a class="btn btn-info" href="#">进入</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="preview">
                        <div class="img">
                        </div>
                        <div class="dec">
                            <h3>JavaScript Demo</h3>
                            <p>the note of JavaScript</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="preview">
                        <div class="img">
                        </div>
                        <div class="dec">
                            <h3>Data Demo</h3>
                            <p>the note of python data</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</%block>

<%block name="site_script">
</%block>